<div class="container">
  <!--<header-i18n showLangText="false" class="langs"></header-i18n>-->
  <div class="top-logo">
    <!--<img src="./assets/img/sec/ber-logo.png">-->
    <!--<h1> {{ 'app.passport.title' | translate }}</h1>-->
  </div>
  <div class="wrap">
    <router-outlet></router-outlet>
    <!--<global-footer [links]="links">-->
    <!--Copyright-->
    <!--&lt;!&ndash;<i nz-icon nzType="copyright"></i> 2017 <a href="//github.com/cipchk" target="_blank">卡色</a>出品&ndash;&gt;-->
    <!--</global-footer>-->
  </div>
</div>
