<form
  nz-form
  [formGroup]="form"
  (ngSubmit)="submit()"
  role="form">
  <nz-tabset
    [nzAnimated]="false"
    class="tabs"
    (nzSelectChange)="switch($event)">
    <nz-tab
      [nzTitle]="'欢迎登录'">
      <nz-alert
        *ngIf="error"
        [nzType]="'error'"
        [nzMessage]="error"
        [nzShowIcon]="true" class="mb-lg">
      </nz-alert>
      <nz-form-item>
        <nz-form-control nzErrorTip="请输入用户名！">
          <nz-input-group nzSize="large" nzPrefixIcon="user">
            <input
              nz-input
              formControlName="userName"
              placeholder="用户名：" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="请输入密码！">
          <nz-input-group nzSize="large" nzPrefixIcon="lock">
            <input
              nz-input
              type="password"
              formControlName="password"
              placeholder="密码：" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>
  </nz-tabset>
  <!--  验证码-->
  <!--<app-verification-code (checkCode)="checkCode($event)" (keyDown)="keyDown($event)"></app-verification-code>-->
  <nz-form-item>
    <nz-col [nzSpan]="12">
      <label nz-checkbox formControlName="remember">
        自动登录
      </label>
    </nz-col>
    <!--<nz-col [nzSpan]="12" class="text-right">-->
    <!--<a class="forgot" (click)="rePassword()">-->
    <!--{{ 'app.login.forgot-password' | translate }}-->
    <!--</a>-->
    <!--</nz-col>-->
  </nz-form-item>
  <nz-form-item>
    <!--<button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="http.loading" nzBlock>-->
    <button
      nz-button
      type="submit"
      nzType="primary"
      nzSize="large"
      nzBlock>
      登录
    </button>
  </nz-form-item>
</form>

