@import '~@delon/theme/default';


.steps {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
}
.list {
  display: inline-block;
  width: 210px;
  /*height: 290px;*/
  margin-right: 15px;
}
:host ::ng-deep .sv__container {
  margin-bottom: 24px;
  font-weight: 500;
}
.coordinate {
  display: block;
}
.mapView {
  width: 615px;
  height: 360px;
  margin: 0 auto;
  border: 1px solid rgb(204, 204, 204);
}

:host ::ng-deep .ant-input-group-wrapper {
  width: 100%;
}

.button {
  text-align: center;
}

.ant-upload-text {
  margin-top: 8px;
  color: #666;
}

.text-error {
  margin-left: 10px;
  color: red;
}

:host ::ng-deep .ant-form-item-control {
  width: 65%;
}
.tip-icon {
  border: 3px solid rgba(26, 144, 255, 1);
  border-radius: 10px;
}
.tip-text {
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  line-height: 24px;
}
::ng-deep .icon-required .ant-form-item-label label::before {
  display: inline-block;
  margin-right: 4px;
  color: #f5222d;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}
.SIM-text {
  margin-left: 5px;
}

:host ::ng-deep .ant-card-cover {
  width: 100%;
  height: 166px;
  overflow: hidden;
  > img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

#input_file{
  position: absolute;
  /* top: 50%; */
  bottom: 100px;
  right: 80px;
}

