
<page-header [title]="renderData.title"> </page-header>

<div class="main">
  <div class="content">
    <nz-card [nzBordered]="false">
      <img
        nz-image
        height="700px"
        [nzSrc]="imgUrl"
        alt=""
      />
    </nz-card>
  </div>
</div>



<!--<img id="show" [src]="imgUrl"  (click)="showImage()" />-->


<!--<nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal">-->
  <!--<ng-container *nzModalContent>-->
    <!--<img [src]="imgUrl">-->
  <!--</ng-container>-->
<!--</nz-modal>-->
