<nz-spin nzTip="数据加载中..." [nzSpinning]="renderData.loading">
  <sf #sf [schema]="schema" [button]="null" [formData]="formData" (formValueChange)="forformValueChangemChange($event)">
    <!--<button [nzType]="'primary'" type="submit" nz-button >提交</button>-->
    <!--<button [disabled]="!renderData.reset" (click)="sf.reset()" type="button" nz-button>重置</button>-->

    <ng-template sf-template="myCustom1" let-me let-ui="ui" let-schema="schema">
      <span class="tip-icon"></span>
      <span class="tip-text">工程分类</span>
    </ng-template>
    <ng-template sf-template="myCustom2" let-me let-ui="ui" let-schema="schema">
      <span class="tip-icon"></span>
      <span class="tip-text">概率水准</span>
    </ng-template>

    <ng-template sf-template="st" let-me let-ui="ui" let-schema="schema">
      <st [columns]="columns" [data]="data" size="small" bordered="true">
      </st>
    </ng-template>
  </sf>

</nz-spin>



